<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    
    <script src="/js/app.js"></script>
</head>
<body ng-controller="HouseController">
    <div class="row ms-2 me-2 mt-2">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <button class="btn btn-light" onclick="consultarBitacora()"> <img src="/images/bitacora.png" alt="" width="40px"> </button>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-center">
            <h2>Casas</h2>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-end">
            <button class="btn btn-warning" onclick="cerrarSesion()"> <img src="/images/cerrar sesion.png" alt="" width="20px"> </button>
        </div>
    </div>

    <div class="row mr-2 ms-2 me-2">
        
        <div class="col-12 mt-4">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#miModal">
                Registrar
              </button>
        </div>
        <div class="col-12 mt-4">
            <table class="table table-striped" ng-init="consultarCasas()">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Descripción</th>
                        <th>Pisos</th>
                        <th>Disponibilidad</th>
                        <th>Dirección</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="casa in casas">
                        <td>{{casa.id}}</td>
                        <td>{{casa.description}}</td>
                        <td>{{casa.flats}}</td>
                        <td>{{casa.available === true ? 'DISPONIBLE' : 'NO DISPONIBLE'}}</td>
                        <td>{{casa.address.colonia +", "+casa.address.municipio+", "+casa.address.state}}</td>
                        <td><button type="button" ng-click="consultarCasaEspecifica(casa.id)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modificacion">Modificar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="miModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registro de casas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="form-control">
                  <input type="number" class="form-control mb-2" ng-model="houseWrapper.house.flats" placeholder="Pisos">
                  <input type="text" class="form-control mb-2" ng-model="houseWrapper.house.description" placeholder="Descripcion">
                  
<!--                  <input type="" class="form-control mb-2" ng-model="houseWrapper.house.available" placeholder="Disponibilidad">-->                
                  <div class="form-check form-switch mb-2">
					  <label class="form-check-label" for="flexSwitchCheckDefault">Disponibilidad</label>
					  <input class="form-check-input" ng-model="houseWrapper.house.available" ng-true-value="true" ng-false-value="false" type="checkbox" id="flexSwitchCheckDefault">
					</div>
                  
                  <input type="number" class="form-control mb-2" ng-model="houseWrapper.address.innerNumber" placeholder="Numero Interior" >
                  <input type="number" class="form-control mb-2" ng-model="houseWrapper.address.outterNumber" placeholder="Numero Exterior" >
                  <input type="number" class="form-control mb-2" ng-model="houseWrapper.address.zipCode" placeholder="Codigo Postal">
                  <input type="text" class="form-control mb-2" ng-model="houseWrapper.address.street" placeholder="Calle" >
                  <input type="text" class="form-control mb-2" ng-model="houseWrapper.address.colonia" placeholder="Colonia" >
                  <input type="text" class="form-control mb-2" ng-model="houseWrapper.address.municipio" placeholder="Municipio">
                  <input type="text" class="form-control mb-5" ng-model="houseWrapper.address.state" placeholder="Estado" >
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" ng-click="registrarCasa()" class="btn btn-success">Registrar</button>
            </div>
          </div>
        </div>
    </div>
    
    
    <div class="modal fade" ng-init="consultaEspecificaCasas()" id="modificacion" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modificacion de casas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="form-control">
                  <input type="number" class="form-control mb-2" ng-model="houseWrapper.flats" placeholder="Pisos">
                  <input type="text" class="form-control mb-2" ng-model="houseWrapper.description" placeholder="Descripcion">
                  
<!--                  <input type="" class="form-control mb-2" ng-model="houseWrapper.house.available" placeholder="Disponibilidad">-->                
                  <div class="form-check form-switch mb-2">
					  <label class="form-check-label" for="flexSwitchCheckDefault">Disponibilidad</label>
					  <input class="form-check-input" ng-model="houseWrapper.available" ng-true-value="true" ng-false-value="false" type="checkbox" id="flexSwitchCheckDefault">
					</div>
                  
                  <input type="number" class="form-control mb-2" ng-model="houseWrapper.address.innerNumber" placeholder="Numero Interior" >
                  <input type="number" class="form-control mb-2" ng-model="houseWrapper.address.outterNumber" placeholder="Numero Exterior" >
                  <input type="number" class="form-control mb-2" ng-model="houseWrapper.address.zipCode" placeholder="Codigo Postal">
                  <input type="text" class="form-control mb-2" ng-model="houseWrapper.address.street" placeholder="Calle" >
                  <input type="text" class="form-control mb-2" ng-model="houseWrapper.address.colonia" placeholder="Colonia" >
                  <input type="text" class="form-control mb-2" ng-model="houseWrapper.address.municipio" placeholder="Municipio">
                  <input type="text" class="form-control mb-5" ng-model="houseWrapper.address.state" placeholder="Estado" >
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" ng-click="modificarCasa()" class="btn btn-success">Modificar</button>
            </div>
          </div>
        </div>
    </div>
</body>
</html>