<!DOCTYPE html>
<html lang="es" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/control/app.js"></script>
</head>
<body ng-controller="HouseController">
    <div class="row col-12 mt-5 d-flex align-items-center">
        <div class="col-xl col-lg col-md-4 col-sm-3">

        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 text-center">
            <h2 class="mb-5">Inicio de Sesión</h2>

            <div class="input-group mb-3">
                <input class="form-control" type="text" ng-model="user.username" id="usuario" name="usuario" placeholder="Usuario">
            </div>
            <div class="input-group mb-5">
                <input class="form-control" type="password" ng-model="user.password" name="contrasenia" id="contrasenia" placeholder="Contraseña">
            </div>
            <button class="btn btn-success" ng-click="login()">Iniciar sesión</button>
        </div>
        <div class="col-xl col-lg col-md-4 col-sm-3">

        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" integrity="sha512-7x3zila4t2qNycrtZ31HO0NnJr8kg2VI67YLoRSyi9hGhRN66FHYWr7Axa9Y1J9tGYHVBPqIjSE1ogHrJTz51g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>