<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bitacora.js"></script>
</head>
<body>
    <div class="row ms-2 me-2">
        <div class="col-12 mt-2"></div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <button class="btn btn-light" onclick="consultarCasas()" > <img src="../resources/inicio.png" alt="" width="40px"> </button>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-center">
            <h2>Bitacora</h2>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-end">
            <button class="btn btn-warning" onclick="cerrarSesion()"> <img src="../resources/cerrar sesion.png" alt="" width="20px"> </button>
        </div>
    </div>

    <div class="row ms-2 me-2 mt-2">
        <div class="col-12 mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Campo 1</th>
                        <th>Campo 2</th>
                        <th>Campo 3</th>
                        <th>Campo 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Descripción 1</td>
                        <td>Descripción 2</td>
                        <td>Descripción 3</td>
                        <td>Descripción 4</td>
                        <td>Descripción 5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</body>
</html>