<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/login.js"></script>
</head>
<body>
    <div class="row col-12 mt-5 d-flex align-items-center">
        <div class="col-xl col-lg col-md-4 col-sm-3">

        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 text-center">
            <h2 class="mb-5">Inicio de sesión</h2>
        
            <div class="input-group mb-3">
                <input class="form-control" type="text" id="usuario" name="usuario" placeholder="Usuario">
            </div>
            <div class="input-group mb-5">
                <input class="form-control" type="password" name="contrasenia" id="contrasenia" placeholder="Contraseña">
            </div>
            <button class="btn btn-success" onclick="login()">Iniciar sesión</button>
        </div>
        <div class="col-xl col-lg col-md-4 col-sm-3">

        </div>
    </div>
</body>
</html>